<!DOCTYPE html>
<html>
<head>
	<title>Car List</title>
</head>
<body>
	<h1>Car List</h1>

	<a href="/mhome">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>ID</td>
			<td>Car Name</td>
			<td>Catagory</td>
            <td>Price</td>
            <td>Description</td>
          
           
		</tr>

		<% 
			users.forEach( function(std){ %>
			<tr>
                <td><%= std.id %></td>
				<td><%= std.carname %></td>
                <td><%= std.catagories %></td>
                <td><%= std.price %></td>
                <td><%= std.description %></td>
               
			</tr>
		<%
			}); 
		%>

	</table>

</body>
</html> 